<footer>
  <div class="footer-feedback">
    <a href="https://plus.google.com/+Myshortflicks" rel="publisher" class="float-right google-color" target="_blank">Google+</a>
    <!-- <a href="https://plus.google.com/108114147801558055489?rel=author" class="float-right google-color">Google+</a> -->
    <%= link_to "Facebook", "https://www.facebook.com/myshortflicks" , class:"float-right facebook-color", target: "_blank" %>
    <span> Follow us @ </span>
    <%= link_to "How It Works", how_it_works_path , class:"float-left"%>
    <%= link_to "Give Feedback", feedback_path ,class:"float-left"%>
  </div>
  <div class="website-description">
    My Short Flicks is the top website for online short films in India. The best short films on action , adventure , animation , comedy , crime ,
    documentary , fantasy , horror , inspiration , mystery , parody , philosophy , political , romance , science-fiction , thriller .
    See the top reviewed films ; reviewed by acting , dialogues , story , direction , music and editing .
    Similar films can be grouped into productions which can then be followed by short movie admirers .
    Film-makers can see their works being reviewed and commented upon by thousands of short film addicts as they share their works in
    social media and get followers for their productions.
    Various competition test the skills of the best movie makers and win cash prizes and earn reputation . Get recognized and work with celebrities , Aim high and reach your goals , all here in Myshortflicks.com
  </div>
</footer>
