<%= render "videos/compact_detailed" %>
<% video_info %>
<div class="paginate">
<%= paginate @videos, left: 1, window: 1, right: 0, remote: true %>
</div>
<div class="videos">
  <%= render @videos %>
</div>
