<div class="nav2">
  <%= link_to "Running", competitions_path, id: "run" %>
  <%= link_to "Yet To Start", competitions_yet_to_start_path, id: "yetstart" %>
  <%= link_to "Ended", competitions_ended_path, id: "ended" %>
</div>
