<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= yield %>
    <p> Team My Short Flicks </p>
    <p> contact us @ myshortflicks@gmail.com </p>

    <p>Follow us @ <%= link_to "Facebook", "https://www.facebook.com/myshortflicks" %>, <%= link_to "Google+", "https://plus.google.com/u/0/b/108114147801558055489" %> </p>
    <h3>Let the reel fill in while your imagination rolls</h3>
  </body>
</html>
