<!-- changing anything except ruby code -->
<div class="compact_detailed">
  <div class="float-right">
    <div class="compact_detailed_slant">
      <div class="detailed_slant">
        <%= radio_button_tag :displaytype, :detailed, true %>
        <%= label_tag :displaytype_detailed, "Detailed" %> /
      </div>
      <div class="slant-border">
      </div>
      <div class="compact_slant">
        <%= radio_button_tag :displaytype, :compact %>
        <%= label_tag :displaytype_compact, "Compact" %>
      </div>
    </div>
  </div>
</div>



