<%= form_tag password_confirmations_path, :method => :post do %>
    <div class="user-edit">
      <div>
        <span>
          <%= label_tag :email %>
        </span>
        <span>
            <%= text_field_tag :email, params[:email] %>
        </span>
      </div>
    <div class="savechanges resetpassword">
      <%= submit_tag "Reset Password" %>
    </div>
    </div>
<% end %>
