<div class="info-content">
  <div id = "production_info">
    <h2>Admins :</h2><%= render @production.admins %>
  </div>
  <div id = "description">
    <h2>Description :</h2> <%= @production.description %>
  </div>
</div>
