<div class="howItWorks">
    <h1>How it works..?</h1>
    <h3>plain and simple..!!</h3> <br />
    <!-- Prefer video? <%# link_to "Watch How it works Video", "http://www.myshortflicks.com/videos/US8d4IByUz--6Lks" %> <br /> -->
    <br />
    1.Have a Dream <br />
    2.Put your dream on reels, make a film ! <br />
    3.Start a production <%= link_to "here", new_production_path %> (Production allows you to categorize your works and group similar films). <br />
    4.Add your dream <%= link_to "here", new_video_path %> (using YOUTUBE URL), under one of your production. <br />
    5.Make it viral by sharing it to your friends via Facebook, Google+. <br />
    6.Your friends will review your works (on 6 prominent aspects) and admirers will follow it <br />
    7.Compete with others and make your mark by getting top review score. <br />
    8.Start your journey, <%= link_to "Login now", root_url %>
</div>
